.organs-list {
  display: flex;
  flex-direction: column;
}

.organs-list__title {
  margin-bottom: 20px;
}

.organs__cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
