<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 style="margin: 0">
        Extra organs app
      </h1>

      <hr style="margin-bottom: 20px;">

      <div class="home-page__text-block">Иногда включаю "Наше Радио"...для фона... но сегодня первый раз вслушался-услышал-ужаснулся! Почти 70% текстов песен имхо шлак. Это псевдопоэзия. Такое ощущение, что текст пишут под музыку а не наоборот - тяп ляп, срифмовали и поехали.

        вот к примеру текст песни "Баба Люба" Петра Налича

        "Я иду к тебе в избу нарушать своё табу
        Баба Люба, Люба-баба
        Прихожу к тебе в избу и найти тебя не могу
        Баба Люба, Люба-баба.

        Чёрный ворон мне сказал будто в лес тебя забрал
        Дядя Вова, Вова-дядя
        А ещё он мне сказал, что не против ты была
        Баба Люба, Люба-баба.

        Ой зря я шёл к тебе в избу, зря раскатывал губу."(c)

        Что это такое?!</div>
    </div>
  </div>
</div>
